<included>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="org.hibernate.SQL" additivity="false">
    <level value = "DEBUG" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="com.minikode" additivity="false">
    <level value = "DEBUG" />
    <appender-ref ref="CONSOLE" />
  </logger>

</included>