<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <springProfile name="local">
    <include resource="logback/logback-console-local.xml" />
  </springProfile>
  <springProfile name="local">
    <include resource="logback/logback-file-local.xml" />
  </springProfile>
</configuration>